@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand-fonts> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 1440;
    font-style: normal;
    
  }

  
  
  /* nav styles */
.naber{
    display: flex;
    justify-content: space-between;
 
}
.logo{
    height: 50px;
    margin-top: 20px;
}


.school{
    font-size: 32px;
    font-weight: 700;
}
.div-1{
    display: flex;
    
}

.link-1{
    gap: 20px;
    list-style: none;
    border: 0;
    padding: 0;
    text-decoration: none;
    margin-top: 40px;
}
.link-1 a{
text-decoration: none;

}
.home{
    font-size: 20px;
font-weight: 700;
color: rgb(254, 163, 1);
}
.about{
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 500;
}
.facilities{
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
}
.admission{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
}

    

ul{
 display: flex;
 

}
.contact{
    margin-top: 20px;
}

button{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}

/* banner styles */
.banner{
    
    display: flex;
   
width: auto;
height: 575px;
}
.div-3{
   
   
width: 640px;
height: 331px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
align-items: flex-start;
margin-top: 125px;
}
.div-4{
    margin-left: 380px;
}
.banner-title{
    font-size: 50px;
font-weight: 700;
line-height: 61px;
}
.spna{
    color:#FEA301;
}
.spna-1{
    color:#111111 ;
}
.apan-2{
    color:#01ACFD ;
}
.banner-description{
    font-family: Quicksand;
font-size: 20px;
color: rgb(17, 17, 17);
text-align: left;
}
.btn-1{
    width: 197px;
height: 50px;
border-radius: 12px;
background: rgb(17, 17, 17);
}
@media screen and (max-width:576px) {
    .link-1{
        display: none;
    }
    .contact{
        display: none;
    }
}