@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand-fonts> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 1440;
    font-style: normal;
    
  }

  
  
  /* nav styles */
.naber{
    display: flex;
    justify-content: space-between;
    width: 1450px;
height: 62px;
 
}
.logo{
    height: 50px;
    margin-top: 20px;
}


.school{
    font-size: 32px;
    font-weight: 700;
}
.div-1{
    display: flex;
    margin-left: 140Px;
    
}

.link-1{
    gap: 20px;
    list-style: none;
    border: 0;
    padding: 0;
    text-decoration: none;
    margin-top: 40px;
}
.link-1 a{
text-decoration: none;

}
.home{
    font-size: 20px;
font-weight: 700;
color: rgb(254, 163, 1);
}
.about{
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 500;
}
.facilities{
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
}
.admission{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
}

    

ul{
 display: flex;
 

}
.contact{
    margin-top: 20px;
    margin-right: 140px;
}


.contact{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}


/* banner styles */
.banner{
    
    width: 1158.61px;
    height: 575px;
    display: flex;
   
    width: auto;
    height: 575px;
    gap: 50px;
    margin-right: 100px;
}
.div-3{
   
   
width: 640px;
height: 331px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
align-items: flex-start;
margin-top: 125px;
margin-left: 140px;
}
.div-4{
    margin-left:50px;


}
.banner-title{
    font-size: 50px;
font-weight: 700;
line-height: 61px;
}
.spna{
    color:#FEA301;
}
.spna-1{
    color:#111111 ;
}
.apan-2{
    color:#01ACFD ;
}
.banner-description{
    font-family: Quicksand;
font-size: 20px;
color: rgb(17, 17, 17);
text-align: left;
}
.btn-1{
    width: 197px;
height: 50px;
border-radius: 12px;
background: rgb(17, 17, 17);
color: #FFFFFF;
}

/* stardard styles */

.stardard{
    width: 1440px;
    height: 879px;
    padding: 60px 0px 60px 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.stardard-title{
    font-size: 46px;
font-weight: 700;
text-align: center;
font-family: Quicksand;
color: rgb(0, 0, 0);
}

.card{
    display: flex;
    width: 1160px;
    height: 481.5px;
    bottom: -197.5px;
    margin-top:80px ;
    margin-left: 150px;
    gap: 28.29px;
}
.card-1{
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
     border: 0.94px solid rgb(222, 245, 255);
     border-radius: 18.86px;
     box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
     background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
}
.card-img{
    margin-left:110px;
    margin-top: 60px;
}
.card-title{
 text-align: center;
 margin-top: 44px;
 font-size: 24.52px;
 font-weight: 700;
 font-family: Quicksand;
 color: rgb(32, 32, 32);
 
}
.card-description{
width: 260.26px;
height: 74.51px;
color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
padding-left: 40px;
}

.card-btn{
    color: rgb(100, 200, 255);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom:58 px;
    border-style: none; 
    margin-top: 30px;
}
.color-1{
    color:#F0AA00 ;
}
.color-2{
    color: #8700FF;
}
.back-1{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.back-2{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

/* our stories styles */
.main-container{
    width: 1440px;
    height: 1018.02px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     background: url(../assets/bg.png);
     background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}

.out-stories{
     color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
}

.our-container{
    display: flex;
    width: 1160px;
    height: 630.52px;
    order: 1;
    flex-grow: 0;
     margin: 80px 0px;
     gap: 19px;
     /* background: url(../assets/bg.png); */
}
.our-div{
width: 540.27px;
height: 630.52px;
border-radius: 16px;
background: rgb(255, 255, 255);
}
.our-title{ 
color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
padding-top: 34px;
padding-left: 38px;
padding-right: 99px;


}

.our-description{
 color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;;
padding-left: 38px;
padding-right: 68px;
margin-top: -20px;

}

.our-btn{
    position: absolute;
    width: 174.51px;
    height: 47.93px;
    border-radius: 47.93px;
    border: none;
    background: rgb(60, 216, 232);
    color: #FFFFFF;
    margin-top: -285px;
    margin-left: 38px;
   
}
.div-container{
width: 601px;
height: 622.4px;
left: 699px;
right: -140px;
top: 197.5px;
bottom: -189.38px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap:19px ;
}

.div-child{
border-radius: 16px;
background: rgb(255, 255, 255);
width: 290.69px;
height: 301.61px;
}

.div-title{
 color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
padding-left:37px ;
padding-right: 50px;
}

.div-btn{
    position: absolute;
width: 174.51px;
height: 38.35px;
border-style: none;
border-radius: 47.93px;
background: rgb(149, 178, 38);
margin-top: -25px;
margin-left: 38px;
}
.div-btn-color{
 border-radius: 47.93px;
background: rgb(93, 88, 240);
}

.btn-16 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-view {
    background: rgb(17, 17, 17);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    width: 197px;
height: 50px;
}

.btn-view:hover {
    background-color: #0056b3;
}


/* footer styles */

.footer {
    width: 1439px;
    height: 400px;
    background-color: #00aaff;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
.footer-column{
    display: flex;
}
.footer-a{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.img-kids{
    /* Group 1 */
position: absolute;
width: 82.9px;
height: 81.65px;
display: flex;
margin-left: 100px;
margin-top: 100px;

}

.footer-description{
   padding-top: 200px;
   padding-right: 700px;
   margin-left: 100px;
    
}

/* mehedi vai */

.footer-a {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-a li {
    margin: 0;
}

.footer-a a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-a a:hover {
    color: #ffdd57;
}
.footer-h4{
    position: absolute;
    padding-left: -100px;
    
}
